/* BODY */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /*SCROLLBAR SETTINGS*/
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar in Chrome, Safari, and newer Edge */
    overflow: -moz-scrollbars-none; /* Hide scrollbar in Firefox */
}

body::-webkit-scrollbar {
    width: 5px;
    background: #181818;
}
  
body::-webkit-scrollbar-thumb {
    background: #E1B847;
    border-radius: 0px;
}
  
body::-webkit-scrollbar-button {
    display: none;
}
/* END OF BODY */

/* HEADER */
header {
    background-color: #181818;
    color: #E1B847;
    padding: 15px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: borderAnimation 5s linear infinite;
}


@keyframes borderAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/* END OF HEADER */

/* LOGO (LEFT SIDE) */
.logo {
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 5px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #E1B847;
}
/* END OF LOGO (LEFT SIDE) */

/* BUTTON (CENTER) */
.menu {
    display: inline-block;
}

.menu img {
    width: 40px;
    height: 40px;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
}

.menu a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10 20px;
}

.menu a img {
    width: 100%;
    height: 100%;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
    transition: filter 0.5s;
}

.menu a {
    text-decoration: none;
    color: #E1B847;
    margin: 0 20px;
}

.menu a {
    position: relative;
    transition: filter 0.5s, transform 0.5s;
}

.menu a:hover {
    transform: translateX(10px);
    transition: filter 0.5s, transform 0.5s;
}
/* END OF LOGO (LEFT SIDE) */

/* BUTTON (RIGHT SIDE) */
.appointment {
    display: inline-block;
}

.appointment img {
    width: 50px;
    height: 50px;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
    padding-right: 25px;
    padding-left: 25px;
}

.appointment img:hover {
    transform: translateX(-10px);
    transition: filter 0.5s, transform 0.5s;
}
/* END OF BUTTON (RIGHT SIDE) */

/* TITLE HEADER */
h1.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/PwPXsve.jpg") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 300px;
    padding-left: 100px;
}
/* END TITLE HEADER */

/* TITLE QUOTE HEADER */
.quote {
    text-align: justify;
    font-size: 20px;
    color: #E1B847;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
}
/* END OF TITLE QUOTE HEADER */

/* MAIN TITLE HEADER */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 200px;
}

.column {
    flex: 1;
    text-align: center;
}

/* MAIN TITLE HEADER IMAGE */
.column img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    border: 5px solid transparent;
    background-clip: padding-box;
    border-image: linear-gradient(to right, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22) 1;
    transition: transform 0.5s, border-image 0.5s;
}

.column img:hover {
    transform: scale(1.1);
    border-image: linear-gradient(to left, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22) 1;
}
/* END OF MAIN TITLE HEADER IMAGE */
/* END OF MAIN TITLE HEADER */

/* ABOUT CONTENT */
.about-content {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* ABOUT CONTENT IMAGE*/
.image {
    padding-left: 150px;
    padding-right: 40px;
}

.image img {
    width: 200px;
    height: auto;
}
/* END OF ABOUT CONTENT IMAGE*/

/* ABOUT CONTENT NAME*/
.content h2{
    margin: 0;
    color: #E9B824;
    text-align: center;
    font-size: 40px;
}
/* END OF ABOUT CONTENT NAME*/

/* ABOUT CONTENT SUB-NAME*/
.content h4{
    margin: 0;
    color: #E9B824;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* END OF ABOUT CONTENT SUB-NAME*/

/* ABOUT CONTENT DESC*/
.content {
    color: #E9B824;
    padding: 25px;
    font-size: 18px;
}

.content p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.8;
}
/* END OF ABOUT CONTENT DESC*/

/* SLIDER BACKGROUND */
.slider {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: auto;
    float: left;
    filter: brightness(0.2);
}

#background-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@keyframes slider {
    0% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    80% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
}
/* END OF SLIDER BACKGROUND */

/* FOOTER */
footer {
    background-color: #0F0F0F;
    color: #E1B847;
    text-align: center;
    padding: 0;
    margin-top: auto;
}

footer a {
    color: #E1B847;
    text-decoration: none;
}

footer::before {
    content: "";
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to left, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: footerBorderAnimation 10s linear infinite;
}

@keyframes footerBorderAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/* END OF FOOTER */
