@import "main-components.css";
@import "ravi(htdocs)FIREBASE-PHP/addedit.css";

.contentWrapper{
  display:flex;
  flex-flow: column;
  margin:25px;
  background-color:rgba(15, 15, 15, .6);
  border: 2px solid rgba(225, 184, 71, .5);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 45%;
}