/* BODY */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/* END OF BODY */

/* HEADER */
header {
    background-color: #181818;
    color: #E1B847;
    padding: 15px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: borderAnimation 5s linear infinite;
}


@keyframes borderAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/* END OF HEADER */

/* LOGO (LEFT SIDE) */
.logo {
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 5px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #E1B847;
}
/* END OF LOGO (LEFT SIDE) */

/* BUTTON (CENTER) */
.menu {
    display: inline-block;
}

.menu img {
    width: 40px;
    height: 40px;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
}

.menu a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10 20px;
}

.menu a img {
    width: 100%;
    height: 100%;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
    transition: filter 0.5s;
}

.menu a {
    text-decoration: none;
    color: #E1B847;
    margin: 0 20px;
}

.menu a {
    position: relative;
    transition: filter 0.5s, transform 0.5s;
}

.menu a:hover {
    transform: translateX(10px);
    transition: filter 0.5s, transform 0.5s;
}
/* END OF LOGO (LEFT SIDE) */

/* BUTTON (RIGHT SIDE) */
.appointment {
    display: inline-block;
}

.appointment img {
    width: 50px;
    height: 50px;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
    padding-right: 25px;
    padding-left: 25px;
}

.appointment img:hover {
    transform: translateX(-10px);
    transition: filter 0.5s, transform 0.5s;
}
/* END OF BUTTON (RIGHT SIDE) */

/* TITLE HEADER */
h1.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/PwPXsve.jpg") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 300px;
    margin-top: 150px;
}
/* END TITLE HEADER */

/* TITLE QUOTE HEADER */
.quote {
    text-align: center;
    font-size: 40px;
    color: #E1B847;
    font-family: 'Raleway', sans-serif;
}
/* END OF TITLE QUOTE HEADER */

/* FOOTER */
footer {
    background-color: #0F0F0F;
    color: #E1B847;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #E1B847;
    text-decoration: none;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to left, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: footerBorderAnimation 10s linear infinite;
}

@keyframes footerBorderAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/* END OF FOOTER */

/* SLIDER BACKGROUND */
.slider {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: auto;
    float: left;
    filter: brightness(0.2);
}

#background-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
/* END OF SLIDER BACKGROUND */


/* ---------- Hamburger Icon Start [ kurut0 ] ---------- */

.hamburg-ico {
    display: none;
}

.hamburg-ico img {
    width: 50px;
    height: 50px;
    filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
    padding-right: 25px;
    padding-left: 25px;
}

.navDropdown{
    display:none;
}
    
.navOptions {
    display:none;
}

/* ---------- Hamburger Icon End [ kurut0 ] ---------- */


/* ---------- Media Query Start [ kurut0 ] ---------- */
@media (max-width: 768px) {
    header::before {
        background:none;
    }

    .slider figure {
        animation: 50s slider infinite; /* Slower animation for mobile screens */
    }

    .menu, .appointment {
        display: none;
    }

    .hamburg-ico {
        border:none;
        display: inline-block;
        background-color:transparent;
    }

    .relativeDropdown {
        display:block;
        padding:0;
    }
    
    .navDropdown{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        position:absolute;
        width:100%;
        background-color: #1A1A1A;
        max-height:0;
        transition: max-height 1s ease-in-out;
    }

    .navDropdown::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background: linear-gradient(to right, #FFCD4B, #E9B824, #EE9322, #D83F31, #C70039, #F94C10, #900C3F, #F8DE22);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: borderAnimation 5s linear infinite;
    }
    
    .navOptions {
        display:block;
        text-decoration:none;
        text-align:center;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
    }
    
    .navOptions img {
        max-height: 0;
        filter: invert(93%) sepia(77%) saturate(1122%) hue-rotate(320deg) brightness(94%) contrast(87%);
        padding: 15px;
    }

    @keyframes slider {
        0% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -130%;
        }
        50% {
            left: -150%;
        }
        70% {
            left: -170%;
        }
        80% {
            left: -200%;
        }
        90% {
            left: -200%;
        }
    }
}

* {
    transition: all 0.5s ease-in-out;
}

/* ---------- Media Query End [ kurut0 ] ---------- */
