body {
    margin: 0;
    padding: 0;
    background-color: #272829;
    opacity: 0.5;
    color: #E9B824;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0F0F0F;
    color: #E9B824;
    padding: 5px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    padding-left: 10px;
    padding-right: 100px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #E9B824;
    font-size: 18px;
    margin: 0 20px;
}

.login-signup {
    display: inline-block;
}

.login-signup a {
    text-decoration: none;
    color: #E9B824;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}

.quote {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: #0F0F0F;
    color: #E9B824;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.zoom {
    transition: transform .5s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
}

.slider {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: auto;
    float: left;
    filter: brightness(0.5)
    
}

#background-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


@keyframes slider {
    0% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    80% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header {
        /* Adjust header styles for tablets and smaller screens */
        flex-direction: column;
        align-items: center;
    }
    .menu, .login-signup {
        display: block;
        text-align: center;
    }
    .menu a, .login-signup a {
        display: block;
        margin: 10px 0;
    }
    .logo {
        padding: 10px;
        text-align: center;
    }
    .slider figure img {
        width: 50%;
    }
    h1 {
        font-size: 40px;
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    header {
        /* Adjust header styles for phones and smaller screens */
        padding: 5px 0;
    }
    .menu a, .login-signup a {
        font-size: 16px;
    }
    .quote {
        font-size: 16px;
    }
}

* {
    transition: all 0.5s ease-in-out;
}
